<article class="project project-currency">
  <header>
    <h2>Side Project: Currency, 2016.</h2>
    <p>Product Design &amp; iOS Development</p>
  </header>

  <section class="emphasize">
    <p>
      <a href="http://currency.nunocoelhosantos.com/" target="_blank">Currency</a>
      is an incredibly simple currency converter for iOS. Visual noise such as:
      country flags, settings, notifications and graphs are not part of the
      interface. Users don’t need a walkthrough to understand the app.
    </p>
  </section>

  <main>

    <div class="project-currency-iphone">
      <img
        src="./images/currency-iphone-2x.png"
        alt=""
        width="342"
        height="697"
      >
      <button class="play-button" data-action="play-currency-iphone">
        <span class="icon-play"></span>Play
      </button>
    </div>

    <div class="currency-app-icon">
      <img
        src="./images/currency-app-icon-2x.png"
        alt=""
        width="126"
        height="126"
      >
    </div>

    <div class="currency-symbols">
      <img
        src="./images/currency-symbols-2x.png"
        alt="440"
        width="543"
        height=""
      >
    </div>

    <div class="currency-storyboard">
      <img
        src="./images/currency-storyboard-2x.png"
        alt="532"
        width="480"
        height=""
      >
    </div>

    <div class="currency-exploded-ui">
      <img
        src="./images/currency-exploded-ui-2x.png"
        alt=""
        width="518"
        height="516"
      >
    </div>

    <div class="currency-source-code">
      <img
        src="./images/currency-source-code-2x.png"
        alt="1164"
        width="940"
        height=""
      >
    </div>

    <div class="currency-sales-graph">
      <img
        src="./images/currency-sales-graph-2x.png"
        alt=""
        width="1166"
        height="406"
      >
    </div>



  </main>

</article>
