<article class="project project-currency">

  <section class="emphasize">
    <p>
      <a href="http://currency.nunocoelhosantos.com/" target="_blank">Currency</a>
      is an incredibly simple currency converter for iOS. Download it for free on the
      <a href="https://itunes.apple.com/app/currency-simple-currency-calculator/id1109685198?mt=8" target="_blank">App Store</a>.
    </p>
  </section>

  <main>

    <div class="project-intro">
      <h6>Project:</h6>
      <p>
        Currency for iOS
      </p>
      <h6>Role:</h6>
      <p>
        Product Designer &amp; iOS Developer
      </p>
      <h6>Date:</h6>
      <p>
        January 2016 to March 2016
      </p>
      <h6>Website:</h6>
      <p>
        <a href="http://currency.nunocoelhosantos.com/" target="_blank">http://currency.nunocoelhosantos.com/</a>
      </p>
      <h6>Description:</h6>
      <p>
        A side-project with the goal to create a product that does one job
        incredibly well and learn a new programming language along the way.
        Special thanks to
        <a href="" target="_blank">Jonathon Toon</a>,
        <a href="" target="_blank">Johnny Linnert</a>,
        <a href="" target="_blank">Xin Nie</a>,
        <a href="" target="_blank">Asuka Yamashita</a>,
        <a href="" target="_blank">Alex Abian</a> and
        <a href="" target="_blank">Tiago Alves</a>.
      </p>
    </div>

    <div class="project-item project-currency-intro">
      <p>
        After having used various currency converter applications that are
        available on the App Store either free or paid, I found that these
        were either too complex, unintuitive, or yet to be updated to new
        iPhone screen sizes. Very often these apps have walkthroughs to
        explain the complex interactions, navigation or features they
        can provide to the user, instead of being simple to use.
      </p>
      <p>
        I designed Currency to be the simplest and most intuitive currency
        converter in the App Store, that would look perfect on any iPhone
        screen.
      </p>
      <img
        src="./images/nuno-coelho-santos-currency-goals-2x.jpg"
        alt=""
        width="408"
        height="156"
      >
    </div>

    <div class="project-item project-currency-iphone">
      <img
        src="./images/nuno-coelho-santos-currency-iphone-2x.jpg"
        alt=""
        width="344"
        height="712"
      >
      <button
        class="button button-play"
        data-action="play-currency-iphone"
        data-layout="wide"
      >
        <span class="icon icon-play"></span>Play
      </button>
      <button
        class="button button-pause"
        data-action="pause-currency-iphone"
        data-layout="hidden"
      >
        <span class="icon icon-pause"></span>Pause
      </button>
      <p>
        The final design focuses on doing one job well: converting a foreign
        currency into the customer’s home currency. Features such as currency
        fluctuation graphs, in-app settings and notifications were not necessary
        for this job.
      </p>
      <p>
        One of the most unique aspects of Currency is the formatting of the
        currencies, with the correct symbol, correct number of decimal places,
        decimal divider and group dividers.
      </p>
    </div>

    <div class="project-item project-currency-app-icon">
      <img
        src="./images/nuno-coelho-santos-currency-app-icon-2x.png"
        alt=""
        width="126"
        height="126"
      >
      <p>
        The icon is designed to fit perfectly with iOS, presenting Currency as
        if it is part of the operating system.
      </p>
    </div>

    <div class="project-item project-currency-symbols">
      <img
        src="./images/nuno-coelho-santos-currency-symbols-3x.png"
        alt="440"
        width="543"
        height=""
      >
      <p>
        Most currency apps use country flags to illustrate the different
        currencies. But some currencies like Bitcoin or the Euro don’t belong to
        a specific country. For this reason I instead used currency symbols and
        correct currency formatting, along with currency codes to correctly
        represent the different currencies.
      </p>
    </div>

    <div class="project-item project-currency-process">
      <img
        src="./images/nuno-coelho-santos-currency-process-2x.jpg"
        alt=""
        width=""
        height=""
      >
      <p>
        Some early sketches displayed multiple currencies on the main screen
        and used country flags. One of the early designs uses a blue and dark
        visual style that I later on retired. When I started development and
        showed the app to my friends they seemed confused about which number
        they were editing, so I added a text input blinking cursor.<br>
        <br>
        The final design is bright and shows activity indicators when the
        currency exchange rates are being updated. Other settings were added
        via the iOS Settings based on user request.
      </p>
    </div>

    <div class="project-item project-currency-development">
      <img
        src="./images/nuno-coelho-santos-currency-development-2x.jpg"
        class="project-currency-image-development"
        alt=""
        width="750"
        height="1828"
        data-layout="narrow"
      >
      <img
        src="./images/nuno-coelho-santos-currency-storyboard-2x.png"
        class="project-currency-image-storyboard"
        alt=""
        width=""
        height=""
        data-layout="wide"
      >
      <img
        src="./images/nuno-coelho-santos-currency-exploded-ui-2x.png"
        class="project-currency-image-exploded-ui"
        alt=""
        width=""
        height=""
        data-layout="wide"
      >
      <img
        src="./images/nuno-coelho-santos-currency-source-code-2x.jpg"
        class="project-currency-image-source-code"
        alt=""
        width=""
        height=""
        data-layout="wide"
      >
      <p>
        This was the first app I developed for iOS, and my first time writing
        Swift. The entire development of the application took about 3 months,
        with most of it being bug fixes and improvements to the code quality.
        The source is available publicly on
        <a href="https://github.com/nunosans/currency" target="blank">Github</a>.
      </p>
    </div>

    <div class="project-item project-currency-localization">
      <img
        src="./images/nuno-coelho-santos-currency-localization-2x.png"
        alt=""
        width=""
        height=""
      >
      <p>
        The application, website and marketing material was localised to the
        US, the UK, Japan, China, Hong Kong, Taiwan, Latin America, Spain
        and Portugal. Three months after release, 76% of the downloads came
        from the Asia/Pacific region.
      </p>
    </div>

    <div class="project-item project-currency-results">
      <p>
        Six months after release, Currency was downloaded over 6,000 times and
        has an average rating of 4.5 stars. You can download it for free on the
        <a href="https://itunes.apple.com/app/currency-simple-currency-calculator/id1109685198?mt=8" target="_blank">App Store</a>.
      </p>
      <img
        src="./images/nuno-coelho-santos-currency-photo-2x.jpg"
        alt=""
        width=""
        height=""
      >
    </div>


  </main>

</article>
