<article class="project project-currency">

  <section class="emphasize">
    <p>
      <a href="http://currency.nunocoelhosantos.com/" target="_blank">Currency</a>
      is an incredibly simple currency converter for iOS. Download it for free on the
      <a href="https://itunes.apple.com/app/currency-simple-currency-calculator/id1109685198?mt=8" target="_blank">App Store</a>.
    </p>
  </section>

  <main>

    <div class="project-item project-currency-iphone">
      <img
        src="./images/currency-iphone-2x.png"
        alt=""
        width="342"
        height="697"
      >
      <button class="button button-play" data-action="play-currency-iphone">
        <span class="icon icon-play"></span>Play
      </button>
      <button class="button button-pause" data-action="pause-currency-iphone">
        <span class="icon icon-pause"></span>Pause
      </button>
      <p>
        Visual noise such as country flags, settings, notifications and graphs
        are not part of the interface. Users don’t need a walkthrough to
        understand the app.
      </p>
    </div>

    <div class="project-item project-currency-app-icon">
      <img
        src="./images/currency-app-icon-2x.png"
        alt=""
        width="126"
        height="126"
      >
      <p>
        The icon is pure, simple, and follows the unbranded style of the
        product. I wanted Currency to blend into the platfrom as if it was a
        bundled utility.
      </p>
    </div>

    <div class="project-item project-currency-symbols">
      <img
        src="./images/currency-symbols-3x.png"
        alt="440"
        width="543"
        height=""
      >
      <p>
        In some currencies like the Euro or the Bitcoin, a country flag wouldn’t
        correcly represent the currency. So flags were not included in the
        design and users didn’t raise confusion around this decision. The
        formatting of the currency values with the currency symbol and correct
        use of commas or full stops to divide decimal places was said to be
        useful when reading prices in a foreign country.
      </p>
    </div>

    <div class="project-item project-currency-storyboard">
      <img
        src="./images/currency-storyboard-2x.png"
        alt="532"
        width="480"
        height=""
      >
    </div>

    <div class="project-item project-currency-exploded-ui">
      <img
        src="./images/currency-exploded-ui-2x.png"
        alt=""
        width="518"
        height="516"
      >
      <p>
        Above you can see sketches of the initial interface, first designs
        with a black and blue colors, and the final design built in interface
        builder. From the start the idea was to keep Currency's design simple
        and its visual style similar to the built-in Calculator app so it's
        familiar to all users.
      </p>
    </div>

    <div class="project-item project-currency-source-code">
      <img
        src="./images/currency-source-code-2x.png"
        alt="1164"
        width="940"
        height=""
      >
      <p>
        This was the first app I developed for iOS, and my first time writting
        <a href="https://developer.apple.com/swift/" target="_blank">Swift</a>.
        For access to the Github repository,
        <a href="mailto:nuno@nunocoelhosantos.com?subject=Access%20to%20Currency%20for%20iOS%20on%20Github">drop me an email</a>.
      </p>
    </div>

    <div class="project-item project-currency-sales-graph">
      <img
        src="./images/currency-sales-graph-2x.png"
        alt=""
        width="1166"
        height="406"
      >
      <p>
        The app was downloaded over 2,000 times in the first two months after
        release. After that time downloads vary between 3 to 10 every day.
        The app is sold for free and is available in all territories.
      </p>
    </div>

  </main>

</article>
