<article class="project project-other">

  <section class="emphasize">
    <p>
      Other projects involve branding, photography, illustration and software
      development.
    </p>
  </section>

  <main>

    <div class="project-item project-other-a-year-in-an-instant">
      <img
        src="./images/other-a-year-in-an-instant-2x.jpg"
        alt=""
        width="472"
        height="532"
      >
      <h6>
        A Year in an Instant
      </h6>
      <p>
        For my first 365 days living in Japan I took an instant photo every day
        and published it online. This was a Kickstarter project where 80 backers
        helped make it come true and can claim their favourite photo for themselves.
        <a href="http://ayearinaninstant.com/" target="_blank">Read the diary here</a>.
      </p>
    </div>

    <div class="project-item project-other-15-days-in-japan">
      <img
        src="./images/other-15-days-in-japan-2x.jpg"
        alt=""
        width="334"
        height="503"
      >
      <h6>
        15 Days in Japan
      </h6>
      <p>
        One of my most popular side-projects. A travel blog where I documented
        my experience travelling completely on my own in a country where I
        didn’t speak the language. All photos were taken with a Fuji X100.
        <a href="http://15daysinjapan.com/" target="_blank">See the story here</a>.
      </p>
    </div>

    <div class="project-item project-other-1975">
      <img
        src="./images/other-1975-2x.jpg"
        alt=""
        width=""
        height=""
      >
      <h6>
        1975
      </h6>
      <p>
        A side-project where travellers document their trip on a day-by-day
        photo diary. This project was an excuse to give me more experience
        developing Ruby on Rails applications.
        <a href="http://1975.io/" target="_blank">Sign up here</a>.
      </p>
    </div>

    <div class="project-item project-other-ustwo-rebrand">
      <img
        src="./images/other-ustwo-rebrand-2x.png"
        alt=""
        width=""
        height=""
      >
      <h6>
        ustwo rebrand
      </h6>
      <p>
        I worked on a rebrand concept for ustwo entirely inspired by the company
        culture. This included a new logo, website design, typeface and tone of
        voice. After some refinement, this became the studio’s new identity.
        <a href="http://ustwo.com/" target="_blank">See it here</a>.
      </p>
    </div>

    <div class="project-item project-other-the-scientist">
      <img
        src="./images/other-the-scientist-2x.jpg"
        alt=""
        width=""
        height=""
      >
      <h6>
        The Scientist
      </h6>
      <p>
        The Scientist is a scientific papers aggregator and reader for iOS. The
        design shines in its focus on incredible legible typography.
        <a href="https://itunes.apple.com/app/the-scientist/id657192313?l=en&mt=8" target="_blank">Get it on the App Store</a>.
      </p>
    </div>

    <div class="project-item project-other-instagram-redesign">
      <img
        src="./images/other-instagram-redesign-2x.jpg"
        alt=""
        width=""
        height=""
      >
      <h6>
        Instagram redesign
      </h6>
      <p>
        This project was a visual design training exercise I did after joining
        <a href="http://ustwo.com/" target="_blank"></a>ustwo. The brief was to
        take an application that I am familiar with and re-imagine its interface
        for specific users. Read more about it on the
        <a href="https://ustwo.com/blog/redesigning-instagram/" target="_blank">ustwo blog</a>.
      </p>
    </div>

    <div class="project-item project-other-stylized">
      <img
        src="./images/other-stylized-2x.jpg"
        alt=""
        width=""
        height=""
      >
      <h6>
        Stylize/d
      </h6>
      <p>
        Identity and web design project worked on alongside
        <a href="http://martasantos.co.uk" target="_blank">Marta Dos Santos</a>.
        Stylize/d is a fashion blog eager to show the final fashion editorials
        and the process in making them. This modernist identity stays away from
        most amateur fashion blogs with pink tones and cursive typefaces.
      </p>
    </div>

    <div class="project-item project-other-paul-cocksedge">
      <img
        src="./images/other-paul-cocksedge-logo-2x.png"
        class="project-other-paul-cocksedge-logo"
        alt=""
        width=""
        height=""
      >
      <img
        src="./images/other-paul-cocksedge-image-2x.jpg"
        class="project-other-paul-cocksedge-image"
        alt=""
        width=""
        height=""
      >
      <h6>
        Paul Cocksedge
      </h6>
      <p>
        Brand and online store for the British product designer. I was involved
        in designing the new brand and its applications as well as develop the
        new online store.
        <a href="http://paulcocksedgeshop.com/" target="_blank">Shop here</a>.
      </p>
    </div>

    <div class="project-item project-other-marili-andre">
      <img
        src="./images/other-marili-andre-2x.jpg"
        alt=""
        width=""
        height=""
      >
      <h6>
        Marili André
      </h6>
      <p>
        Logo design for Marili André, a fashion photographer and filmmaker.
        Fellow student at Central Saint Martins, London. The connected shapes
        try to represent the motion in her work, while clearly following the
        style of high end fashion brands.
      </p>
    </div>

  </main>

</article>
