<article class="project project-currency">

  <section class="emphasize">
    <p>
      Other projects involve branding, photography, illustration and software
      development.
    </p>
  </section>

  <main>

  </main>

</article>
