<article class="project project-other">

  <section class="emphasize">
    <p>
      Other projects involve branding, photography, illustration and software
      development.
    </p>
  </section>

  <main>

  </main>

</article>

Other projects involve branding, photography, illustration and software development.


A Year in an Instant
For my first 365 days living in Japan I took an instant photo every day and published it online. This was a Kickstarter project where 80 backers pledged £1,685 to be able to make it come true and claim their favourite photo. Read the diary here: http://ayearinaninstant.com/


1975
A side-project where travellers document their trip on a day-by-day photo diary. This project was an excuse to give me more experience developing Ruby on Rails applications. Sign up here: http://1975.io/


ustwo rebrand
I worked on a rebrand concept for ustwo entirely inspired by the company culture. This included a new logo, website design, typeface and tone of voice. After some refinement, this became the studio’s new identity. See it here: http://ustwo.com/


15 Days in Japan
One of my most popular side-projects. A travel blog where I documented my experience travelling completely on my own in a country where I didn’t speak the language. All photos were taken with a Fuji X100. See the story here: http://15daysinjapan.com/


The Scientist
The Scientist is a scientific papers aggregator and reader for iOS. The design shines in its focus on incredible legible typography. Get it on the App Store: https://itunes.apple.com/app/the-scientist/id657192313?l=en&mt=8


Instagram redesign
This project was a visual design training exercise I did after joining ustwo. The brief was to take an application that I am familiar with and re-imagine its interface for specific users. Read more about it on the ustwo blog: https://ustwo.com/blog/redesigning-instagram/


Stylize/d
Identity and web design project worked on alongside Marta Dos Santos. Stylize/d is a fashion blog eager to show the final fashion editorials and the process in making them. This modernist identity stays away from most amateur fashion blogs with pink tones and cursive typefaces.


Paul Cocksedge
Brand and online store for the incredible product designer. I was involved in designing the new brand and its applications as well as develop the new online store. Shop here: http://paulcocksedgeshop.com/


Marili André
Logo design for Marili André, a fashion photographer and filmmaker. Fellow student at Central Saint Martins, London. The connected shapes try to represent the motion in her work, while clearly following the style of high end fashion brands.
