<article class="project project-currency">

  <section class="emphasize">
    <p>
      <a href="http://thread.com/" target="_blank">Thread</a> gives you a
      one-to-one personal styling service and access to a powerful clothing
      recommendation engine.
    </p>
  </section>

  <main>

  </main>

</article>
