@-webkit-keyframes tick-clockwise {
  0%   { -webkit-transform: rotate(0); }
  22%  { -webkit-transform: rotate(0); }
  24%  { -webkit-transform: rotate(45deg); }
  26%  { -webkit-transform: rotate(0); }
  28%  { -webkit-transform: rotate(45deg); }
  30%  { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(0); }
}

@-webkit-keyframes tick-counterclockwise {
  0%   { -webkit-transform: rotate(0); }
  22%  { -webkit-transform: rotate(0); }
  24%  { -webkit-transform: rotate(-90deg); }
  26%  { -webkit-transform: rotate(0); }
  28%  { -webkit-transform: rotate(-90deg); }
  30%  { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(0); }
}
