@font-face {
  font-family: "Grifo M";
  src: url("../fonts/grifo-m-medium.eot");
  src: url("../fonts/grifo-m-medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/grifo-m-medium.woff") format("woff"),
       url("../fonts/grifo-m-medium.otf")  format("opentype");
  font-weight: 400;
  font-style: normal;
}
