*[data-layout="narrow"] {
  @media only screen and (min-width: 750px) {
    display: none !important;
  }
}

*[data-layout="wide"] {
  @media only screen and (max-width: 749px) {
    display: none !important;
  }
}

*[data-layout="hidden"] {
  display: none !important;
}

*[data-layout="visible"] {
  display: block !important;
}
