html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, input, textarea {
  font-size: 16px;
  line-height: 22px;
  font-family: "URW Franklin Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-primary;
  @media (min-width: 750px) {
    font-size: 15px;
    line-height: 21px;
  }
}

html {
  background-color: $background-page;
}

h6 {
  margin-bottom: 5.5px;
  @media (min-width: 750px) {
    margin-bottom: 5px;
  }
}

p {
  padding: 5.5px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 750px) {
    padding: 5px 0;
    max-width: 305px;
  }
}

ul {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: 750px) {
    max-width: 305px;
  }
  li {
    padding: 5.5px 0;
    @media (min-width: 750px) {
      padding: 5px 0;
    }
  }
}

.emphasize p,
p.emphasize {
  font-family: "Grifo M";
  font-size: 40px;
  line-height: 44px;
  padding: 30px 0;
  max-width: none;
  letter-spacing: -0.5px;
  @media (min-width: 750px) {
    padding: 80px 0 20px;
    font-size: 72px;
    line-height: 80px;
  }
  span a {
    font-size: inherit;
  }
}

.scribble p,
p.scribble {
  font-family: "CAPUT";
  font-size: 22px;
  line-height: 34px;
  padding: 40px 0 16px;
  max-width: none;
  word-spacing: 5px;
  @media (min-width: 750px) {
    font-size: 26px;
    line-height: 38px;
  }
}

::selection {
  background-color: rgba($accent, 0.16);
  color: darken($accent, 42%);
  text-shadow: none;
}
