footer {
  width: 100%;
  padding: 24px 0 12px;
  width: 100 - $gutter-width * 6;
  line-height: 20px;
  margin: 20px auto;
  overflow: hidden;
  @media (min-width: 750px) {
    padding: 25px 0 20px;
    margin: 40px auto;
    width: $content-width;
  }
  p {
    width: 100%;
    float: left;
    color: $text-secondary;
    max-width: none;
  }
  a, button {
    color: inherit;
    border: none;
    display: inline-block;
    -webkit-transition: 0.48s color ease-out;
       -moz-transition: 0.48s color ease-out;
        -ms-transition: 0.48s color ease-out;
         -o-transition: 0.48s color ease-out;
            transition: 0.48s color ease-out;
    &:hover,
    &:active {
      -webkit-transition-duration: 0s;
         -moz-transition-duration: 0s;
          -ms-transition-duration: 0s;
           -o-transition-duration: 0s;
              transition-duration: 0s;
    }
    &:hover {
      color: darken($text-secondary, 50%);
    }
  }
}


