a,
button {
  cursor: pointer;
  border: none;
  padding: 0;
  border-bottom: 1px solid rgba($accent, 0.4);
  display: inline-block;
  height: 21px;
  background-color: transparent;
  -webkit-transition: 0.48s border-bottom-color ease-out;
     -moz-transition: 0.48s border-bottom-color ease-out;
      -ms-transition: 0.48s border-bottom-color ease-out;
       -o-transition: 0.48s border-bottom-color ease-out;
          transition: 0.48s border-bottom-color ease-out;
  &:hover,
  &:active {
    outline: none;
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
  }
  &:hover {
    border-bottom-color: $accent;
  }
}

.emphasize p a {
  border-bottom: 3px solid rgba($accent, 0.35);
  display: inline-block;
  height: 41.5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  @media (min-width: 750px) {
    border-bottom-width: 6px;
    height: 75px;
  }
  &:hover {
    border-bottom-color: $accent;
  }
}
