table {
  thead {
    td {
      padding: 24px 0 8px 0;
      height: auto;
    }
  }

  tr {
    height: 28px;
    @media (max-width: 749px) {
      height: auto;
      display: block;
      border-left: 1px solid darken($background-project, 10%);
      margin-bottom: 12px;
      padding-bottom: 4px;
    }
  }

  td {
    padding: 0 32px 0 0;
    height: 28px;
    vertical-align: top;
    min-width: $inner-column-width + $inner-gutter-width;
    &:first-child,
    &:nth-child(2n) {
      color: $text-secondary;
    }
    &:nth-child(3),
    &:nth-child(3) a {
      width: auto;
    }
    @media (max-width: 749px) {
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: $inner-gutter-width * 2;
      padding-right: $inner-gutter-width * 2;
      display: block;
    }
    a {
      max-width: 420px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

}
