.button {
  cursor: pointer;

}

.button.button-play {
  border: none;
  .icon-play {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin: 0 5px -7px 0;
    background-image: url('../graphics/icon-play-1x.png');
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../graphics/icon-play-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
      background-image: url('../graphics/icon-play-3x.png');
    }
  }
  &:hover .icon-play {
    background-image: url('../graphics/icon-play-hover-1x.png');
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../graphics/icon-play-hover-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
      background-image: url('../graphics/icon-play-hover-3x.png');
    }
  }
}
