footer {
  width: 100%;
  padding: 24px 0 12px;
  width: 100 - $gutter-width * 6;
  line-height: 20px;
  margin: 20px auto;
  overflow: hidden;
  @media (min-width: 850px) {
    padding: 25px 0 20px;
    margin: 40px auto;
    width: $content-width;
  }
  p {
    width: 100%;
    float: left;
    color: $text-secondary;
  }
}


