header {
  width: 100 - $gutter-width * 6;
  padding: 5px 0 16px;
  margin: 22px auto;
  height: 40px;
  @media (min-width: 750px) {
    padding: 5px 0 20px;
    margin: 40px auto;
    width: $content-width;
    height: 133px;
  }
  h1 {
    float: left;
    width: $inner-column-width * 5 + $inner-gutter-width * 4;
    @media (min-width: 750px) {
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
    }
  }
  div {
    float: right;
    width: $inner-column-width * 5 + $inner-gutter-width * 5;
    margin-left: $inner-gutter-width;
    margin-right: -$inner-gutter-width;
    @media (min-width: 750px) {
      width: $inner-column-width * 2 + $inner-gutter-width * 2;
      margin-right: none;
    }
    .icon {
      width: 36px;
      height: 40px;
      background-size: 20px;
      @media (max-width: 749px) {
        top: -4px;
      }
      @media (min-width: 750px) {
        width: 16px;
        height: 16px;
        background-size: 16px;
      }
    }
    ul {
      margin-left: 0;
      margin-right: 0;
    }
    li {
      padding-top: 0;
      padding-bottom: 8px;
      white-space: nowrap;
      @media (min-width: 750px) {
        height: 26px;
        padding-bottom: 3px;
      }
    }
    b {
      font-weight: inherit;
      color: $text-secondary;
      float: left;
      // width: 120px;
      width: 24px;
      margin-left: -30px;
    }
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      @media (max-width: 749px) {
        height: 40px;
        float: right;
        margin-top: -10px;
        border: none;
      }
    }
  }
}


