.button {
  cursor: pointer;
  white-space: nowrap;
  &:active,
  &:focus {
    outline: none;
  }
}

.button.button-play {
  border: none;
  .icon-play {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin: 0 5px -7px 0;
    background-image: url('../graphics/icon-play-1x.png');
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../graphics/icon-play-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
      background-image: url('../graphics/icon-play-3x.png');
    }
  }
  &:before,
  &:hover .icon-play {
    background-image: url('../graphics/icon-play-hover-1x.png');
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../graphics/icon-play-hover-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
      background-image: url('../graphics/icon-play-hover-3x.png');
    }
  }
}

.button.button-pause {
  border: none;
  .icon-pause {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin: 0 5px -7px 0;
    background-image: url('../graphics/icon-pause-1x.png');
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../graphics/icon-pause-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
      background-image: url('../graphics/icon-pause-3x.png');
    }
  }
  &:before,
  &:hover .icon-pause {
    background-image: url('../graphics/icon-pause-hover-1x.png');
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../graphics/icon-pause-hover-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
      background-image: url('../graphics/icon-pause-hover-3x.png');
    }
  }
}

.button.button-play,
.button.button-pause {
  display: none;
  margin: 20px auto;
  width: 69px;
  text-align: left;
  @media (min-width: 750px) {
    display: block;
  }
}
