header {
  width: 100 - $gutter-width * 6;
  padding: 5px 0 16px;
  margin: 22px auto;
  height: 133px;
  @media (min-width: 750px) {
    padding: 5px 0 20px;
    margin: 40px auto;
    width: $content-width;
  }
  h1 {
    float: left;
    width: $inner-column-width * 6 + $inner-gutter-width * 3;
    @media (min-width: 750px) {
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
    }
  }
  div {
    float: right;
    width: $inner-column-width * 3 + $inner-gutter-width * 2;
    margin-left: $inner-gutter-width;
    @media (min-width: 750px) {
      width: $inner-column-width * 3 + $inner-gutter-width * 2;
    }
    ul {
      margin-left: 0;
      margin-right: 0;
    }
    li {
      padding-top: 0;
      padding-bottom: 8px;
      white-space: nowrap;
      height: 26px;
      @media (min-width: 750px) {
        padding-bottom: 3px;
      }
    }
    b {
      font-weight: inherit;
      color: $text-secondary;
      float: left;
      width: 90px;
    }
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
    }
  }
}


