header {
  width: 100 - $gutter-width * 6;
  padding: 5px 0 16px;
  margin: 22px auto;
  overflow: hidden;
  @media (min-width: 750px) {
    padding: 5px 0 20px;
    margin: 40px auto;
    width: $content-width;
  }
  h1 {
    float: left;
    width: $inner-column-width * 6 + $inner-gutter-width * 3;
    @media (min-width: 750px) {
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
    }
  }
  div {
    float: right;
    width: $inner-column-width * 2 + $inner-gutter-width * 2;
    margin-left: $inner-gutter-width;
    @media (min-width: 750px) {
      width: $inner-column-width * 3 + $inner-gutter-width * 2;
    }
    ul {
      margin-left: 0;
      margin-right: 0;
    }
    li {
      padding-top: 0;
      padding-bottom: 5.5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (min-width: 750px) {
        padding-bottom: 5px;
      }
      a {
        display: inline;
      }
    }
    b {
      font-weight: inherit;
      color: $text-secondary;
      float: left;
      width: 90px;
    }
  }
}


