section.intro {
  width: 100%;
  padding: 10px 0 14px;
  width: 100 - $gutter-width * 6;
  line-height: 20px;
  margin: 40px auto;
  clear: both;
  @media (min-width: 849px) {
    padding: 18px 0 6px;
    margin: 120px auto;
    width: $content-width;
  }
  .smiley {
    display: inline-block;
    width: 80px;
    height: 22px;
    background-image: url('../graphics/smiley-1x.png');
    background-size: 80px 22px;
    margin: 9px 16px 0 10px;
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: url('../graphics/smiley-2x.png');
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
      background-image: url('../graphics/smiley-3x.png');
    }
    @media (min-width: 849px) {
      width: 119px;
      height: 34px;
      background-size: 119px 34px;
      margin: 26px 16px 0 10px;
    }
  }
  a.read-more {
    font-size: 15px;
    line-height: 20px;
    @media (min-width: 849px) {
      margin-top: 26px;
    }
  }
  &.intro-short p {
    display: inline;
  }
}
