article.project {
  margin: 66px auto;
  width: 100%;
  clear: both;
  float: left;
  @media (min-width: 750px) {}

  header {
    padding: 4px 0 12px;
    @media (min-width: 750px) {
      padding: 4px 0 16px;
      margin: 22px auto 18px;
    }
  }

  section {
    width: 100 - $gutter-width * 6;
    padding: 11px 0 12px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (min-width: 750px) {
      padding: 18px 0 22px;
      margin: 0 auto;
      width: $content-width;
    }
  }

  main {
    width: 100%;
    padding: 39px $gutter-width * 3 44px;
    margin: -74px auto 0;
    overflow: hidden;
    background-color: $background-project;
    @media (min-width: 750px) {
      padding: 70px $column-width + $gutter-width * 2 58px;
      margin: -98px auto 0;
    }
  }

  .project-intro {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 22px;
    float: left;
    clear: both;
    padding-left: $inner-gutter-width * 2;
    position: relative;
    overflow: hidden;
    @media (min-width: 750px) {
      float: none;
      padding-left: 0;
    }
    h6 {
      font-weight: inherit;
      color: $text-secondary;
      float: left;
      clear: left;
      width: 100%;
      margin: 0;
      @media (min-width: 750px) {
        width: $inner-column-width + $inner-gutter-width;
      }
    }
    p {
      float: left;
      width: 100%;
      padding-top: 0;
      @media (min-width: 750px) {
        max-width: none;
        width: $inner-column-width * 5 + $inner-gutter-width * 4;
      }
    }
    &:before {
      content: "";
      display: block;
      width: 1px;
      height: auto;
      position: absolute;
      top: 6px;
      bottom: 11px;
      left: 0px;
      background-color: darken($background-project, 10%);
      @media (min-width: 750px) {
        content: none;
      }
    }
  }

  .project-item {
    width: 100%;
    clear: both;
    @media (min-width: 750px) {
      clear: none;
      padding-top: 24px;
      padding-bottom: 48px;
    }
    img {
      width: 100%;
      height: auto;
      margin: 66px auto;
      display: block;
      background-color: $background-project;
      @media (min-width: 750px) {
        margin: 22px auto;
      }
      &.screenshot {
        box-shadow: 0 0 0 1px rgba(black, 0.12),
                   -3px 3px 0 0 rgba(black, 0.06);
      }
    }
    h6 {
      margin-bottom: 0;
      color: $text-secondary;
      margin-left: 0;
      @media (min-width: 750px) {
        max-width: 280px;
      }
    }
    p {
      margin-left: 0;
    }
  }

}
