.iphone-with-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 240px;
  height: 497px;
  padding: 62px 16px 70px 17px;
  background-image: url('../graphics/iphone-1x.jpg');
  background-size: 240px 497px;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (   min--moz-device-pixel-ratio: 1.5),
  only screen and (        min-device-pixel-ratio: 1.5) {
    background-image: url('../graphics/iphone-2x.jpg');
  }
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2.5),
  only screen and (   min--moz-device-pixel-ratio: 2.5),
  only screen and (        min-device-pixel-ratio: 2.5) {
    background-image: url('../graphics/iphone-3x.jpg');
  }
  @media (min-width: 750px) {
    width: 342px;
    height: 708px;
    background-size: 342px 708px;
    margin-bottom: 0;
    padding: 89px 24px 101px 25px;
  }
  video {
    width: 207px;
    height: 365px;
    @media (min-width: 750px) {
      width: 293px;
      height: 518px;
    }
  }
}
