article.intro,
article.outro {
  clear: both;
  float: left;
  overflow: hidden;
  width: 100%;
  section {
    width: 100%;
    padding: 11px $gutter-width * 3 17px;
    line-height: 20px;
    margin: 66px auto 22px;
    clear: both;
    float: left;
    @media (min-width: 750px) {
      padding: 19px $column-width + $gutter-width * 2 22px;
      margin: 140px auto;
    }
    img {
      width: 50%;
      height: auto;
    }
  }
}

article.intro section.intro-short {
  p {
    display: inline;
  }
  button.read-more {
    margin-top: 17px;
    @media (min-width: 750px) {
      margin-top: 26px;
    }
  }
}

article.intro section.intro-complete {
  margin-bottom: 0;
  cursor: pointer;
  @media (max-width: 749px) {
    table tr td {
      &:nth-child(1) {
        padding-right: 0;
        display: inline-block;
        width: auto;
      }
      &:nth-child(2) {
        padding-left: 0;
        display: inline-block;
        width: auto;
        &:before {
          content: "\00a0—\00a0\00a0"
        }
      }
    }
  }
}

article.intro section.intro-bio {
  margin-top: 0;
  img {
    display: block;
    margin: -132px auto 0;
  }
}
