#loading {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-page;
  -webkit-transition: 0.12s opacity ease-out;
}

html.wf-loading,
html.wf-local-loading {

  #loading {
    opacity: 1;
  }

}
