article.project.project-other {

  .project-other-a-year-in-an-instant {
    @media (min-width: 850px) {}
    img {
      width: 104%;
      margin-left: -3%;
      @media (min-width: 850px) {}
    }
  }

  .project-other-15-days-in-japan {
    @media (min-width: 850px) {}
    img {
      width: 75%;
      margin-left: 25%;
      @media (min-width: 850px) {}
    }
  }

  .project-other-1975 {
    @media (min-width: 850px) {}
    img {
      width: 160%;
      margin-top: -3%;
      margin-bottom: -3%;
      margin-left: -5.5%;

      @media (min-width: 850px) {}
    }
  }

  .project-other-ustwo-rebrand {
    @media (min-width: 850px) {}
    img {
      @media (min-width: 850px) {}
    }
  }

  .project-other-the-scientist {
    @media (min-width: 850px) {}
    img {
      width: 206px;
      margin-left: -3px;
      @media (min-width: 850px) {}
    }
  }

  .project-other-instagram-redesign {
    @media (min-width: 850px) {}
    img {
      width: 386px;
      margin-left: -3px;
      @media (min-width: 850px) {}
    }
  }

  .project-other-stylized {
    @media (min-width: 850px) {}
    img {
      @media (min-width: 850px) {}
    }
  }

  .project-other-paul-cocksedge {
    @media (min-width: 850px) {}
    img.project-other-paul-cocksedge-logo {
      position: relative;
      z-index: 1;
      @media (min-width: 850px) {}
    }
    img.project-other-paul-cocksedge-image {
      margin-top: -35%;
      margin-left: 15%;
      @media (min-width: 850px) {}
    }
  }

  .project-other-marili-andre {
    @media (min-width: 850px) {}
    img {
      width: 70%;
      margin-left: 15%;
      @media (min-width: 850px) {}
    }
  }

}
