article.project.project-currency {
  main {
    padding-bottom: 0;
  }

  .project-currency-intro {
    margin-bottom: 40px;
    @media (min-width: 750px) {
      width: 50%;
      float: right;
      padding-right: 15%;
    }
    img {
      width: 229px;
      height: 89px;
      margin: 20px 0 0 0;
      @media (min-width: 350px) {
        width: 286px;
        height: 111px;
      }
      @media (min-width: 750px) {}
    }
  }

  .project-currency-iphone {
    @media (min-width: 750px) {
      width: 50%;
      float: left;
      padding-top: 170px;
      padding-left: 5%;
      padding-right: 15%;
    }
    img {
      width: 240px;
      height: 497px;
    }
  }

  .project-currency-app-icon {
    @media (min-width: 750px) {
      padding-left: 20%;
      float: left;
      width: 50%;
    }
    img {
      width: 84px;
      height: 84px;
      @media (min-width: 750px) {
        margin: 0 0 0 -3px;
        width: 126px;
        height: 126px;
      }
    }
  }

  .project-currency-symbols {
    @media (min-width: 750px) {
      float: left;
      width: 50%;
      padding-right: 10%;
      padding-left: 10px;
    }
    img {
      width: 260px;
      height: 321px;
    }
    p {
      @media (min-width: 750px) {
        padding-top: 60px;
      }
    }
  }

  .project-currency-process {
    @media (min-width: 750px) {}
    img {
      width: 103%;
      @media (min-width: 750px) {}
    }
    p {
      @media (min-width: 750px) {}
    }
  }

  .project-currency-development {
    @media (min-width: 750px) {}
    img.project-currency-image-development {
      width: 110%;
      margin-left: -5%;
    }
    img.project-currency-image-storyboard {}
    img.project-currency-image-exploded-ui {}
    img.project-currency-image-source-code {}
    p {
      @media (min-width: 750px) {}
    }
  }

  .project-currency-localization {
    @media (min-width: 750px) {}
    img {
      width: 150%;
      margin-left: -25%;
      @media (min-width: 750px) {}
    }
    p {
      @media (min-width: 750px) {}
    }
  }

  .project-currency-results {
    padding-bottom: 0;
    @media (min-width: 750px) {}
    img {
      width: 72%;
      margin-left: 33%;
      margin-bottom: 0;
      @media (min-width: 750px) {}
    }
    p {
      @media (min-width: 750px) {}
    }
  }

}
