article.project.project-streams {

  .project-streams-app-icon {
    padding-top: 10px;
    @media (min-width: 750px) {
      margin-top: 48px;
      padding-top: 0;
      margin-left: $inner-column-width * 3 + $inner-gutter-width * 3;
    }
    img {
      width: 84px;
      height: 84px;
      @media (min-width: 750px) {
        float: left;
        width: 126px;
        height: 126px;
        margin-top: 0;
        margin-left: -0.25%;
      }
    }
    p {
      @media (min-width: 750px) {
        float: left;
        margin-left: $inner-gutter-width;
        width: $inner-column-width * 3 + $inner-gutter-width;
      }
    }
  }

  .project-streams-hero {
    @media (min-width: 750px) {
      margin-top: 120px;
    }
    .project-streams-hero-ipad {
      width: $inner-column-width * 14 + $inner-gutter-width * 13;
      @media (min-width: 750px) {
        width: $inner-column-width * 9 + $inner-gutter-width * 8;
        margin-left: 0;
      }
    }
    .project-streams-hero-iphone {
      @media (min-width: 750px) {
        float: right;
        transform: scale(0.6);
        transform-origin: top right;
        margin-top: -250px;
        margin-left: 0;
      }
      @media (min-width: 1000px) {
        margin-top: -500px;
        transform: scale(0.8);
      }
      @media (min-width: 1250px) {
        transform: scale(0.9);
      }
      @media (min-width: 1500px) {
        transform: scale(1.0);
      }
      @media (min-width: 1750px) {
        transform: scale(1.1);
      }
      @media (min-width: 2000px) {
        transform: scale(1.2);
      }
      @media (min-width: 2500px) {
        transform: scale(1.3);
      }
    }
  }

  .project-streams-papers-and-press {
    padding-bottom: 120px;
    table {
      width: 100%;
      td {
        display: inline-block;
        white-space: nowrap;
        width: $inner-column-width + $inner-gutter-width;
        &:nth-child(2) {
          width: $inner-column-width * 2 + $inner-gutter-width * 2;
        }
        &:nth-child(3) {
          width: auto;
          width: $inner-column-width * 7 + $inner-gutter-width * 6;
          max-width: none;
          a {
            max-width: 100%;
          }
          &:before {
            content: "“";
            position: relative;
            bottom: 4px;
          }
          &:after {
            content: "”";
            position: relative;
            bottom: 4px;
          }
        }
      }
      thead td {
        width: auto;
      }
    }
  }

  .project-streams-team {
    @media (min-width: 750px) {
      margin-left: $inner-column-width * 5 + $inner-gutter-width * 5;
      padding-bottom: 160px;
    }
    p {
      @media (min-width: 750px) {
        width: $inner-column-width * 3 + $inner-gutter-width * 2;
        margin-bottom: 24px;
      }
    }
    video {
      margin-top: 40px;
      margin-bottom: 40px;
      width: $inner-column-width * 10 + $inner-gutter-width * 9;
      @media (min-width: 750px) {
        width: $inner-column-width * 8 + $inner-gutter-width * 8;
      }
    }
  }

  .project-streams-before-and-after {
    clear: both;
    position: relative;
    @media (min-width: 750px) {
      margin-left: $inner-column-width * 2 + $inner-gutter-width * 2;
    }
    .label {
      position: absolute;
      top: 24px;
      left: 0;
      @media (min-width: 750px) {
        top: 0;
      }
      + .label {
        left: $inner-column-width * 5 + $inner-gutter-width * 5.5;
        @media (min-width: 750px) {
          left: $inner-column-width * 3 + $inner-gutter-width * 3;
        }
      }
    }
    img {
      clear: left;
      width: $inner-column-width * 5 + $inner-gutter-width * 3;
      display: inline-block;
      margin-top: 60px;
      margin-bottom: 40px;
      + img {
        margin-left: $inner-gutter-width * 2;
        @media (min-width: 750px) {
          margin-left: $inner-gutter-width * 0.75;
        }
      }
      @media (min-width: 750px) {
        margin-top: 11px;
        width: $inner-column-width * 3 + $inner-gutter-width * 2;
      }
    }
    img.keylines {
      position: absolute;
      top: 0;
      background-color: transparent;
      margin-left: 0;
      pointer-events: none;
      width: $inner-column-width * 5 + $inner-gutter-width * 3;
      @media (min-width: 750px) {
        top: 24px;
        width: $inner-column-width * 3 + $inner-gutter-width * 2;
      }
      &.keylines-1 {
        left: 0;
      }
      &.keylines-2 {
        left: $inner-column-width * 5 + $inner-gutter-width * 5.4;
        margin-top: 56px;
        @media (min-width: 750px) {
          margin-left: 1px;
          margin-top: 0.6%;
          left: $inner-column-width * 3 + $inner-gutter-width * 3;
        }
      }
    }
    p {
      @media (min-width: 750px) {
        position: absolute;
        top: 32px;
        // left: $inner-column-width * 6 + $inner-gutter-width * 6;
        left: - ($inner-column-width * 2 + $inner-gutter-width * 2);
        width: $inner-column-width * 2 + $inner-gutter-width * 1;
      }
    }
  }

  .project-streams-component {
    padding-top: 80px;
    img {
      width: $inner-column-width * 18 + $inner-gutter-width * 17;
      @media (min-width: 750px) {
        width: $inner-column-width * 10 + $inner-gutter-width * 9;
      }
    }
  }

  .project-streams-details {
    @media (min-width: 750px) {
      margin-top: -72px;
    }
    img {
      @media (min-width: 750px) {
        display: inline-block;
        width: ($inner-column-width * 10 + $inner-gutter-width * 7) / 3;
        float: left;
      }
    }
    img + img {
      @media (max-width: 749px) {
        margin-top: -40px;
      }
      @media (min-width: 750px) {
        margin-left: $inner-gutter-width;
      }
    }
  }

  .project-streams-prototype {
    @media (min-width: 750px) {
      position: relative;
      clear: both;
      padding-top: 120px;
      padding-bottom: 120px;
    }
    p {
      @media (min-width: 750px) {
        position: absolute;
        top: 50%;
        margin-top: -24px;
        left: $inner-column-width * 7 + $inner-gutter-width * 7;
        width: $inner-column-width * 2 + $inner-gutter-width * 1;
      }
    }
  }

  .project-streams-poster {
    img {
      width: 100% + $inner-column-width * 2;
      margin-left: -$inner-column-width;
      @media (min-width: 750px) {
        margin-left: - ($inner-column-width + $inner-gutter-width * 2);
        width: $inner-column-width * 7 + $inner-gutter-width * 7;
        float: left;
      }
    }
    p {
      @media (min-width: 750px) {
        float: left;
        margin-top: 16px;
        margin-left: $inner-gutter-width;
      }
    }
  }

}
