article.project.project-other {

  .project-item {
    img {
      margin: 66px auto 22px;
    }
  }

  .project-other-a-year-in-an-instant {
    @media (min-width: 750px) {
      float: left;
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
    }
    img {
      width: 104%;
      margin-left: -3%;
      @media (min-width: 750px) {
        width: 100.1%;
      }
    }
  }

  .project-other-15-days-in-japan {
    @media (min-width: 750px) {
      float: left;
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-left: $inner-column-width + $inner-gutter-width * 2;
    }
    img {
      width: 75%;
      margin-left: 25%;
      @media (min-width: 750px) {
        margin-left: 0;
      }
    }
  }

  .project-other-1975 {
    @media (min-width: 750px) {
      margin-left: $inner-column-width * 4 + $inner-gutter-width * 4;
    }
    img {
      width: 160%;
      margin-top: 55px;
      margin-bottom: -16px;
      margin-left: -5.5%;
      @media (min-width: 750px) {
        width: $inner-column-width * 8 + $inner-gutter-width * 7;
        margin-top: 13px;
        margin-bottom: -4.4%;
        margin-left: -2.8%;
      }
    }
    h6 {
      @media (min-width: 750px) {
        margin-top: 22px;
      }
    }
  }

  .project-other-the-scientist {
    @media (min-width: 750px) {
      float: left;
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-top: -440px;
    }
    @media (min-width: 1250px) {
      margin-top: -352px;
    }
    img {
      width: 209px;
      height: 440px;
      margin-left: -2px;
      @media (min-width: 750px) {
        width: 297px;
        height: 626px;
      }
    }
  }

  .project-other-instagram-redesign {
    @media (min-width: 750px) {}
    img {
      width: 386px;
      margin-left: -3px;
      @media (min-width: 750px) {}
    }
  }

  .project-other-stylized {
    @media (min-width: 750px) {
      float: left;
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-left: $inner-column-width * 2 + $inner-gutter-width * 3;
      margin-top: 88px;
    }
    img {
      @media (min-width: 750px) {}
    }
  }

  .project-other-ustwo-rebrand {
    position: relative;
    @media (min-width: 750px) {
      float: left;
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-top: -395px;
    }
    img.project-other-ustwo-rebrand-logo {
      position: relative;
      z-index: 2;
    }
    img.project-other-ustwo-rebrand-image {
      position: absolute;
      z-index: 1;
      top: 33px;
      left: 15%;
      @media (min-width: 750px) {
        left: 26%;
        top: 144px;
      }
    }
    h6 {
      margin-top: 122px;
    }
  }

  .project-other-paul-cocksedge {
    @media (min-width: 750px) {}
    img.project-other-paul-cocksedge-logo {
      position: relative;
      z-index: 1;
      @media (min-width: 750px) {}
    }
    img.project-other-paul-cocksedge-image {
      margin-top: -35%;
      margin-left: 15%;
      @media (min-width: 750px) {}
    }
  }

  .project-other-marili-andre {
    @media (min-width: 750px) {
      float: left;
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-left: $inner-column-width * 2 + $inner-gutter-width * 3;
    }
    img {
      width: 70%;
      margin-left: 15%;
      @media (min-width: 750px) {
        margin-left: 0;
        margin-top: -69px
      }
    }
  }

}
