article.project.project-currency {
  main {
    padding-bottom: 0;
  }

  .project-currency-intro {
    margin-bottom: 40px;
    @media (min-width: 750px) {
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-right: $inner-column-width + $inner-gutter-width;
      float: right;
    }
    img {
      width: 229px;
      height: 89px;
      margin: 20px 0 0 0;
      @media (min-width: 350px) {
        width: 286px;
        height: 111px;
      }
      @media (min-width: 750px) {
        width: 408px;
        height: 158px;
      }
    }
  }

  .project-currency-iphone {
    @media (min-width: 750px) {
      float: left;
      width: $inner-column-width * 3 + $inner-gutter-width * 3;
      margin-left: $inner-column-width + $inner-gutter-width;
      margin-top: 170px;
    }
    .iphone-with-video {
      @media (min-width: 750px) {
        position: relative;
        left: 50%;
        margin-left: -171px;
      }
    }
  }

  .project-currency-app-icon {
    @media (min-width: 750px) {
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-left: $inner-column-width * 2 + $inner-gutter-width * 2;
      float: left;
    }
    img {
      width: 84px;
      height: 84px;
      @media (min-width: 750px) {
        margin: 0 0 22px -3px;
        width: 126px;
        height: 126px;
      }
    }
  }

  .project-currency-symbols {
    @media (min-width: 750px) {
      width: $inner-column-width * 4 + $inner-gutter-width * 3;
      margin-left: $inner-column-width + $inner-gutter-width;
      float: left;
    }
    img {
      width: 260px;
      height: 321px;
      @media (min-width: 750px) {
        width: 450px;
        height: 555px;
      }
    }
    p {
      @media (min-width: 750px) {
        padding-top: 60px;
      }
    }
  }

  .project-currency-process {
    @media (min-width: 750px) {
      clear: both;
      position: relative;
    }
    img {
      width: 103%;
      @media (min-width: 750px) {
        width: $inner-column-width * 7 + $inner-gutter-width * 5;
        margin-left: 0;
      }
    }
    p {
      @media (min-width: 750px) {
        position: absolute;
        top: 66px;
        left: $inner-column-width * 7 + $inner-gutter-width * 7;
      }
    }
  }

  .project-currency-development {
    @media (min-width: 750px) {
      position: relative;
      height: 1264px;
    }
    img.project-currency-image-development {
      width: 110%;
      margin-left: -5%;
    }
    img.project-currency-image-storyboard {
      position: absolute;
      z-index: 1;
      width: 443px;
      height: 400px;
      top: 280px;
      left: -64px;
    }
    img.project-currency-image-exploded-ui {
      position: absolute;
      z-index: 1;
      width: 454px;
      height: 453px;
      top: 702px;
      left: 84px;
    }
    img.project-currency-image-source-code {
      @media (min-width: 750px) {
        margin-left: $inner-column-width * 5 + $inner-gutter-width * 5;
      }
      @media (min-width: 1250px) {
        margin-left: $inner-column-width * 4 + $inner-gutter-width * 4;
      }
      width: 920px;
      height: 1098px;
    }
    p {
      @media (min-width: 750px) {
        position: absolute;
        z-index: 2;
        top: 66px;
        left: 0;
      }
    }
  }

  .project-currency-localization {
    @media (min-width: 750px) {}
    img {
      width: 150%;
      margin-left: -25%;
      @media (min-width: 750px) {
        width: $inner-column-width * 11 + $inner-gutter-width * 11;
        margin-left: - ($inner-column-width + $inner-gutter-width * 2) / 2;
      }
    }
    p {
      @media (min-width: 750px) {
        margin-top: -7%;
        margin-left: 66.5%;
      }
    }
  }

  .project-currency-results {
    padding-bottom: 0;
    @media (min-width: 750px) {
      position: relative;
    }
    img {
      width: 72%;
      margin-left: 33%;
      margin-bottom: 0;
      @media (min-width: 750px) {
        margin-left: $inner-column-width * 5 + $inner-gutter-width * 5;
        width: $inner-column-width * 6 + $inner-gutter-width * 6;
      }
    }
    p {
      @media (min-width: 750px) {
        position: absolute;
        top: 66px;
        left: $inner-column-width + $inner-gutter-width;
      }
      @media (min-width: 1250px) {
        left: $inner-column-width * 2 + $inner-gutter-width * 2;
      }
    }
  }

}
