@import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:600');


body.ja {

  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video,
  button, input, textarea {
    font-size: 16px;
    line-height: 24px;
    @media (min-width: 750px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  // This is for the Japanese word wrapping.
  span.ww {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
  }

  p {
    // text-align: justify;
    @media (min-width: 750px) {
      // max-width: 355px;
    }
  }

  .emphasize p,
  p.emphasize {
    // font-family: "Grifo M", "Rounded Mplus 1c", sans-serif;
    // font-family: "Grifo M", "Sawarabi Mincho", sans-serif;
    // font-family: "Grifo M", "Noto Serif JP", sans-serif;
    font-family: 'Noto Serif JP', serif;
    // font-size: 32px;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 2px;
    text-align: left;
    font-weight: 600;
    @media (min-width: 750px) {
      // font-size: 52px;
      font-size: 58px;
      line-height: 86px;
      letter-spacing: 3px;
      max-width: none;
    }
    *[lang="en"] {
      // font-size: 40px;
      font-size: 32px;
      font-family: inherit;
      display: inline-block;
      // padding: 0 2px;
      letter-spacing: 0;
      @media (min-width: 750px) {
        // padding: 0 4px;
        // font-size: 68px;
        font-size: 52px;
      }
    }
    *[lang="ja"] {
      font-size: inherit;
      // font-family: "Rounded Mplus 1c", sans-serif;
      // font-family: 'Sawarabi Mincho', sans-serif;
      font-family: 'Noto Serif JP', serif;
    }
    // Use i tags as negative space blocks.
    i {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: -12px;
      @media (min-width: 750px) {
        margin-left: -22px;
      }
    }
  }

  .scribble p,
  p.scribble {
    font-family: 'Noto Serif JP', serif;
    font-size: 22px;
    line-height: 34px;
    padding: 40px 0 16px;
    max-width: none;
    word-spacing: 5px;
    @media (min-width: 750px) {
      font-size: 26px;
      line-height: 38px;
    }
  }

  a,
  button {
    height: 21px;
    @media (min-width: 750px) {
      height: 21px;
    }
  }

  .emphasize p a {
    height: 33px;
    @media (min-width: 750px) {
      height: 47px;
    }
  }

  article.project {

    .project-intro h6 {
      @media (min-width: 750px) {
        width: $inner-column-width * 2 + $inner-gutter-width * 2;
      }
    }

    .project-item p {
      padding-right: 12px;
    }

    main {
      margin-top: -80px;
      @media (min-width: 750px) {
        margin-top: -109px;
      }
    }

  }

}
