@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Serif+JP:wght@600&display=swap');

body.jp {

  div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video,
  button, input, textarea {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    line-height: 23px;
    @media (min-width: 750px) {
      font-size: 15px;
      line-height: 23px;
    }
  }

  // For Japanese word wrapping.
  span.ww {
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
  }

  p {
    // text-align: justify;
    @media (min-width: 750px) {
      // max-width: 355px;
    }
  }

  .emphasize p,
  p.emphasize {
    font-family: 'Noto Serif JP', serif;
    // font-size: 32px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: 600;
    @media (min-width: 750px) {
      // font-size: 52px;
      font-size: 58px;
      line-height: 80px;
      letter-spacing: 1px;
      max-width: none;
    }
    span, a, * {
      font-size: inherit;
      font-weight: inherit;
      font-family: 'Noto Serif JP', serif;
    }
  }

  .scribble p,
  p.scribble {
    font-family: 'Noto Serif JP', serif;
    font-size: 22px;
    line-height: 34px;
    padding: 40px 0 16px;
    max-width: none;
    word-spacing: 5px;
    @media (min-width: 750px) {
      font-size: 26px;
      line-height: 38px;
    }
    span, a, * {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  a,
  button {
    height: 23px;
    @media (min-width: 750px) {
      height: 23px;
    }
  }

  .emphasize p a {
    height: 33px;
    @media (min-width: 750px) {
      height: 47px;
    }
  }

  article.project {

    .project-intro h6 {
      @media (min-width: 750px) {
        width: $inner-column-width * 2 + $inner-gutter-width * 2;
      }
    }

    .project-item p {
      padding-right: 12px;
    }

    main {
      margin-top: -80px;
      @media (min-width: 750px) {
        margin-top: -96px;
      }
    }

  }

  article.project.project-streams {

    .project-streams-papers-and-press {
      table {
        td:nth-child(3) {
          font-style: normal;
          &:before {
            content: "『"
          }
          &:after {
            content: "』（英語）"
          }
          a {
            // max-width: 70%;
          }
        }
      }
    }

  }

}
