<footer>
  <p>
    <a href="/">English (US)</a> •
    <a href="/ja">日本語</a> •
    <a href="/pt">Português (Portugal)</a>
  </p>
  <p>
    <%= t(:colophon) %>
    <%= t(:link_2011_portfolio) %>
    <%= t(:link_columns_show) %>
    <%= t(:link_columns_hide) %>
  </p>
</footer>
