<article class="intro">

  <section class="emphasize intro-short" data-layout="visible">
    <p>
      I’m Nuno, a digital product designer based in London.
    </p>
    <%= partial "smiley" %>
    <button class="read-more" data-action="show-intro-complete">Read more</button>
  </section>

  <section class="emphasize intro-complete" data-action="hide-intro-complete" data-layout="hidden">
    <p>
      I’m Nuno, a digital product designer based in London. Specializing in
      user interface design, with a penchant for high-fidelity prototyping and
      development for the web or iOS.
    </p>
    <p>
      I currently work at <a href="https://deepmind.com" target="_blank">Google DeepMind</a> to bring
      <a href="https://deepmind.com/applied/deepmind-health/working-nhs/how-were-helping-today/" target="_blank">Streams</a>
      to hospitals accross the UK.
    </p>
    <p>
      Previously I worked with the <a href="http://ideo.com/" target="_blank">IDEO</a>
      team in Tokyo, I helped <a href="http://thread.com/" target="_blank">Thread</a>
      reinvent personal styling in the UK, and prior to that, I was with the
      <a href="http://ustwo.com/" target="_blank">ustwo</a> family in London and New York.
    </p>
    <p>
      <%= partial "smiley" %>
    </p>
  </section>

</article>
