---
title: 404
---

<%= partial "header" %>

<article>
  <main>
    <p>The page you're looking for can't be found. <a href="/">Return to homepage</a>.</p>
    <p>A página que procura não foi encontrada. <a href="/pt">Retornar a página inicial</a>.</p>
    <p>お探しのページは見つかりません。<a href="/jp">ホームへ</a>。</p>
  </main>
</article>
