<footer>
  <p>
    The first illustration on this website is the work of Adrian Hogan, and
    copyright by the artist. This website is set in Franklin Gothic URW from
    URW++ served by Typekit, and Grifo by R-Typography. All other content on
    this website is produced by and copyright 2016 by Nuno Coelho Santos. This
    website adheres to Web Standards. HTML markup should validate as HTML5 and
    its layout is constructed using valid CSS. All assets are hosted by Linode
    in London, UK. Stats are tracked using Google Analytics.
  </p>
</footer>
