<footer>
  <p>
    The first illustration on this website is the work of
    <a href="http://www.adrianhogan.com" target="_blank">Adrian Hogan</a>, and
    copyright by the artist. This website is set in
    <a href="https://www.urwpp.de/en/shop/?fontshop=datei:show_font_details;fontnummer:f008032t;" target="_blank">Franklin Gothic URW</a> from
    <a href="https://www.urwpp.de/en/" target="_blank">URW++</a> served by
    <a href="https://typekit.com/" target="_blank">Typekit</a>, and
    <a href="http://r-typography.com/10_grifo/" target="_blank">Grifo</a> by
    <a href="http://r-typography.com/" target="_blank">R-Typography</a>. All other content on
    this website is produced by and copyright 2016 by Nuno Coelho Santos. All
    assets are hosted by
    <a href="https://www.linode.com/" target="_blank">Linode</a>
    in London, UK. Stats are tracked using
    <a href="https://www.google.com/analytics/" target="_blank">Google Analytics</a>.
  </p>
</footer>
