<footer>
  <p>
    This website is set in
    <a href="https://www.urwpp.de/en/shop/?fontshop=datei:show_font_details;fontnummer:f008032t;" target="_blank">Franklin Gothic URW</a> from
    <a href="https://www.urwpp.de/en/" target="_blank">URW++</a> served by
    <a href="https://typekit.com/" target="_blank">Typekit</a>, and
    <a href="http://r-typography.com/10_grifo/" target="_blank">Grifo</a> by
    <a href="http://r-typography.com/" target="_blank">R-Typography</a>. All other content on
    this website is produced by and copyright 2017 by Nuno Coelho Santos. All
    assets are hosted by
    <a href="https://www.linode.com/" target="_blank">Linode</a>
    in London, UK. Stats are tracked using
    <a href="https://www.google.com/analytics/" target="_blank">Google Analytics</a>.
    <a href="http://2011.nunocoelhosantos.com/">See 2011 portfolio</a>.
    <button data-action="show-columns" data-layout="wide">Show columns.</button><button data-action="hide-columns" data-layout="hidden">Hide columns.</button>
  </p>
</footer>
