<header>
  <h1>Nuno Coelho Santos</h1>

  <div data-layout="narrow">
    <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20request%20/%20Work%20proposal&body=Hi%20Nuno,%0D%0A%0D%0A">Email</a><br>
    <a class="tel" href="tel:+447874349672">Mobile</a><br>
    <a href="http://twitter.com/nunosans" target="_blank" class="external">Twitter</a><br>
  </div>

  <div data-layout="wide">
    <ul>
      <li>
        <b>Email:</b> <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20request%20/%20Work%20proposal&body=Hi%20Nuno,%0D%0A%0D%0A">nuno@nunocoelhosantos.com</a><br>
      </li>
      <li>
        <b>Mobile:</b> <a class="tel" href="tel:+447874349672">+44 787 434 9672</a><br>
      </li>
      <li>
        <b>Twitter:</b> <a href="http://twitter.com/nunosans" target="_blank" class="external">twitter.com/nunosans</a><br>
      </li>
    </ul>
  </div>

  <div data-layout="narrow">
    <a href="http://github.com/nunosans" target="_blank" class="external">GitHub</a><br>
    <a href="http://dribbble.com/nunosans" target="_blank" class="external">Dribbble</a>
    <a href="http://instagram.com/nunosans" target="_blank" class="external">Instagram</a>
  </div>

  <div data-layout="wide">
    <ul>
      <li>
        <b>GitHub:</b> <a href="http://github.com/nunosans" target="_blank" class="external">github.com/nunosans</a><br>
      </li>
      <li>
        <b>Dribbble:</b> <a href="http://dribbble.com/nunosans" target="_blank" class="external">dribbble.com/nunosans</a>
      </li>
      <li>
        <b>Instagram:</b> <a href="http://instagram.com/nunosans" target="_blank" class="external">instagram.com/nunosans</a>
      </li>
    </ul>
  </div>
</header>
