<article class="intro">

  <section class="emphasize intro-short" data-layout="visible">
    <p>
      I'm Nuno, a product designer based in Tokyo.
    </p>
    <span class="smiley"></span>
    <button class="read-more" data-action="show-intro-complete">Read more</button>
  </section>

  <section class="emphasize intro-complete" data-layout="hidden">
    <p>
      I'm Nuno, a product designer based in Tokyo. Specialised on design for
      user interfaces; with a penchant for interaction and service design,
      prototyping, and development for the web in Ruby or for iOS in Swift.
    </p>
    <p>
      Until recently I helped <a href="http://thread.com/" target="_blank">Thread</a>
      reinvent personal styling as a product designer. Before that, I worked as a
      designer and developer at <a href="http://ustwo.com/" target="_blank">ustwo</a>.
    </p>
    <p>
      Previous clients include
      <a href="https://www.google.com/" target="_blank">Google</a>,
      <a href="http://ideo.com/" target="_blank">IDEO</a>, and
      <a href="http://sony.com/" target="_blank">Sony</a>.
    </p>
    <p>
      <span class="smiley"></span>
    </p>
  </section>

  <section class="intro-bio" data-layout="hidden">
    <img
      src="./images/nuno-coelho-santos-intro-portrait-2x.jpg"
      width="450"
      height="720"
      alt="Portrait of Nuno Coelho Santos by Adrain Hogan"
    >
  </section>

</article>
