<section class="intro emphasize">
  <p>
    Nuno is a product designer based in Tokyo. Working on design with a focus on
    interaction, typography and motion; development in JavaScript, SCSS, Ruby
    and Swift.</p>
  <p>
    Until recently he helped <a href="http://thread.com/" target="_blank">Thread</a>
    reinvent personal styling as a product designer. Before that, he worked as a
    designer and developer at <a href="http://ustwo.com/" target="_blank">ustwo</a>.</p>
  <p>
    Clients include <a href="http://new.ideo.com/" target="_blank">IDEO</a>,
    <a href="https://www.google.com/intl/en/about/" target="_blank">Google</a> and
    <a href="http://sony.com/" target="_blank">Sony</a>.</p>
</section>
