<section class="intro emphasize intro-short" data-layout="visible">
  <p>
    Nuno is a digital product designer based in Tokyo.
  </p>
  <span class="smiley"></span>
  <button class="read-more" data-action="show-intro-complete">Read more</button>
</section>

<section class="intro emphasize intro-complete" data-layout="hidden">
  <p>
    Nuno is a digital product designer based in Tokyo, with a penchant for
    products that span native and web applications;
    development for the web in Ruby and JavaScript or for iOS in Swift.
  </p>
  <p>
    Until early 2016 he helped <a href="http://thread.com/" target="_blank">Thread</a>
    reinvent personal styling as a product designer. Before that, he worked as a
    designer and developer at <a href="http://ustwo.com/" target="_blank">ustwo</a>.
  </p>
  <p>
    Previous clients include
    <a href="https://www.google.com/" target="_blank">Google</a>,
    <a href="http://ideo.com/" target="_blank">IDEO</a>, and
    <a href="http://sony.com/" target="_blank">Sony</a>.
  </p>
  <p>
    <span class="smiley"></span>
  </p>
</section>
