<div class="smiley">
  <span class="smiley-left-cheek"></span>
  <span class="smiley-left-eye">
    <span class="smiley-eye-moon"></span>
    <span class="smiley-eye-moon"></span>
  </span>
  <span class="smiley-mouth"></span>
  <span class="smiley-right-eye">
    <span class="smiley-eye-moon"></span>
    <span class="smiley-eye-moon"></span>
  </span>
  <span class="smiley-right-cheek"></span>
</div>
