<div class="smiley">
  <span class="smiley-left-cheek"></span>
  <span class="smiley-left-eye">
    <svg class="smiley-eye-moon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path fill="#FC3359" fill-rule="evenodd" d="M9,-0.00086373077 C13.9705627,-0.00086373077 18,4.03200426 18,9.00679903 C18,13.9815938 13.9705627,18.0144618 9,18.0144618 C4.02943725,18.0144618 0,13.9815938 0,9.00679903 L9,9.00679903 L9,-0.00086373077 Z"/>
    </svg>
    <svg class="smiley-eye-moon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path fill="#FC3359" fill-rule="evenodd" d="M9,-0.00086373077 C13.9705627,-0.00086373077 18,4.03200426 18,9.00679903 C18,13.9815938 13.9705627,18.0144618 9,18.0144618 C4.02943725,18.0144618 0,13.9815938 0,9.00679903 L9,9.00679903 L9,-0.00086373077 Z"/>
    </svg>
  </span>
  <svg class="smiley-mouth" xmlns="http://www.w3.org/2000/svg" width="39" height="9" viewBox="0 0 39 9">
    <path fill="#FC3359" fill-rule="evenodd" d="M39,2.29245283 C36.5096179,4.28774583 33.5387991,5.90447494 30.0874545,7.14268868 C26.6361098,8.38090242 23.1103772,9 19.510151,9 C15.8963901,9 12.3672739,8.38090242 8.92269651,7.14268868 C5.47811916,5.90447494 2.50391674,4.28774583 0,2.29245283 L0,0 C2.50391674,2.02359502 5.47811916,3.66508804 8.92269651,4.9245283 C12.3672739,6.18396856 15.8963901,6.81367925 19.510151,6.81367925 C23.1103772,6.81367925 26.6361098,6.18396856 30.0874545,4.9245283 C33.5387991,3.66508804 36.5096179,2.02359502 39,0 L39,2.29245283 Z"/>
  </svg>
  <span class="smiley-right-eye">
    <svg class="smiley-eye-moon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path fill="#FC3359" fill-rule="evenodd" d="M9,-0.00086373077 C13.9705627,-0.00086373077 18,4.03200426 18,9.00679903 C18,13.9815938 13.9705627,18.0144618 9,18.0144618 C4.02943725,18.0144618 0,13.9815938 0,9.00679903 L9,9.00679903 L9,-0.00086373077 Z"/>
    </svg>
    <svg class="smiley-eye-moon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path fill="#FC3359" fill-rule="evenodd" d="M9,-0.00086373077 C13.9705627,-0.00086373077 18,4.03200426 18,9.00679903 C18,13.9815938 13.9705627,18.0144618 9,18.0144618 C4.02943725,18.0144618 0,13.9815938 0,9.00679903 L9,9.00679903 L9,-0.00086373077 Z"/>
    </svg>
  </span>
  <span class="smiley-right-cheek"></span>
</div>
