<header>
  <h1>Nuno Coelho Santos</h1>

  <div data-layout="narrow">
    <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20/%20Work%20proposal&body=Dear%20Nuno,%0D%0A%0D%0A">Email</a><br>
    <a class="tel" href="tel:+819049300962">Mobile</a><br>
    <a href="http://line.me/ti/p/sd5kDtCofM">Line</a>
  </div>

  <div data-layout="wide">
    Contact details:<br>
    <ul>
      <li>
        <b>Email:</b> <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20/%20Work%20proposal&body=Dear%20Nuno,%0D%0A%0D%0A">nuno@nunocoelhosantos.com</a><br>
      </li>
      <li>
        <b>Mobile:</b> <a class="tel" href="tel:+819049300962">+81 904 930 0962</a><br>
      </li>
      <li>
        <b>Line ID:</b> <a href="http://line.me/ti/p/sd5kDtCofM">nunosans</a>
      </li>
    </ul>
  </div>

  <div data-layout="narrow">
    <a href="http://twitter.com/nunosans" target="_blank" class="external">Twitter</a><br>
    <a href="http://github.com/nunosans" target="_blank" class="external">GitHub</a><br>
    <a href="http://dribbble.com/nunosans" target="_blank" class="external">Dribbble</a>
  </div>

  <div data-layout="wide">
    For updates:<br>
    <ul>
      <li>
        <b>Twitter:</b> <a href="http://twitter.com/nunosans" target="_blank" class="external">twitter.com/nunosans</a><br>
      </li>
      <li>
        <b>GitHub:</b> <a href="http://github.com/nunosans" target="_blank" class="external">github.com/nunosans</a><br>
      </li>
      <li>
        <b>Dribbble:</b> <a href="http://dribbble.com/nunosans" target="_blank" class="external">dribbble.com/nunosans</a>
      </li>
    </ul>
  </div>
</header>
