---
title: Work &amp; Profile
---

<header>
  <h1>Nuno Coelho Santos</h1>

  <div class="visible-xs">
    <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20/%20Work%20proposal&body=Dear%20Nuno,%0D%0A%0D%0A">Email</a><br>
    <a class="tel" href="tel:+819049300962">Mobile</a><br>
    <a href="http://line.me/ti/p/sd5kDtCofM">Line</a>
  </div>

  <div class="hidden-xs">
    Contact details:<br>
    Email: <a href="mailto:nuno@nunocoelhosantos.com?subject=Question%20about%20your%20work%20/%20Quote%20/%20Work%20proposal&body=Dear%20Nuno,%0D%0A%0D%0A">nuno@nunocoelhosantos.com</a><br>
    Mobile: <a class="tel" href="tel:+819049300962">+81 904 930 0962</a><br>
    Line ID: <a href="http://line.me/ti/p/sd5kDtCofM">nunosans</a>
  </div>

  <div class="visible-xs">
    <a href="http://twitter.com/nunosans" target="_blank" class="external">Twitter</a><br>
    <a href="http://github.com/nunosans" target="_blank" class="external">GitHub</a><br>
    <a href="http://dribbble.com/nunosans" target="_blank" class="external">Dribbble</a>
  </div>

  <div class="hidden-xs">
    For updates:<br>
    Twitter: <a href="http://twitter.com/nunosans" target="_blank" class="external">nunosans</a><br>
    GitHub: <a href="http://github.com/nunosans" target="_blank" class="external">nunosans</a><br>
    Dribbble: <a href="http://dribbble.com/nunosans" target="_blank" class="external">nunosans</a>
  </div>
</header>
